PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=social
DB_PASSWORD=social
DB_NAME=social
JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=604800
JWT_ACCESS_SECRET=access_secret_qy3d34yny34rc1
JWT_REFRESH_SECRET=refresh_secret_wqc98y30ny48
LOG_LEVEL=error